<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.jonasbernard.tudarmstadtmoodlewrapper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TUDarmstadtMoodleWrapper">

        <activity
            android:name=".MainActivity"
            android:label="@string/open_action">
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="moodle.tu-darmstadt.de" />
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="moodle.informatik.tu-darmstadt.de" />
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="wwwdid.mathematik.tu-darmstadt.de"
                    android:path="/moodle" />
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="vorkurs.mathematik.tu-darmstadt.de"
                    android:path="/moodlevorkurs" />
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="moodle-exam.tu-darmstadt.de"/>
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="moodle.chor.tu-darmstadt.de"/>
            </intent-filter>
            <intent-filter android:label="@string/open_action">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https"
                    android:host="loop.dcu.ie"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
